.form-create-todo{
    margin-top: 9%;
    margin-left: 17%;
    padding: 0;
    border: 0;
    width: 68%;
    position: relative;
    display: inline-flex;
}

.text-create-todo{
    width: 93.4%;
    height: 60px;
    border: 1px solid black;
    border-radius: 0px;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
    text-align: center;
}

.button-create-todo{
    width: 20%;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    background-color: #5DADE2;
    font-size: 17px;
}