.Todo-Item-List{
    width: 96%;
    display: flex;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

.todo-completed{
    background-color: #85C1E9;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 7px;
}

.todo-deleted{
    background-color: #85C1E9;
    border: none;
    border-radius: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    padding: 7px;
}

.delete:hover{
    color: #ff0000;
}

.item-list{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.TodoItem-p--complete {
  text-decoration: line-through 2px #000000;
}

.true{
    color: #008000;
}